<!DOCTYPE html>
<html>
    <head>
        <title>Customer Form</title>
        <link href="Style.css" type="text/css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
        <div class="container">
           <h2>
                <div class="nav-list">
                    <ol >
                        <li>
                            <a href="index.html">Paymennts Application</a>
                        </li>
                        <li>
                            <a href="index.html">Create Account</a>
                        </li>
                        <li>
                            <a href="search.html">Find a transaction</a>
                        </li>
                        <li >
                            <a href="claims.html">New transaction</a>
                        </li>
                    </ol>
                </div>
            </h2>
           <h4>Instructions</h4>
           <ul>
               <li>Use the search box below to find relevant claims</li>
            </ul>
           <h4>Serch Bar</h4>

           <form action="post">
            <input name="searchBar" type="text" placeholder="search...">
                <table>
                    <tr>
                        <th>First Name</th>
                        <th>Surname</th>
                        <th>Policy Number</th>
                        <th>Insurance Type</th>
                        <th>Claim Estimate</th>
                        <th>Claim Reason</th>
                        <th>Claim Description</th>
                    </tr>
                    <tr>
                        <td>Ronan</td>
                        <td>Donnelly</td>
                        <td>123456</td>
                        <td>Home</td>
                        <td>$1000</td>
                        <td>Fire</td>
                        <td>I am poor</td>
                    </tr>
                </table>
                <button name="searchButton" type="submit">Search</button>
           </form>
     </div>
  </body>
</html>